.section-white h2 {
  display: none;
}
.container-advertisement {
  width: 1280px;
  height: 428px;
  top: 1556px;
 padding: 100px;
  gap: 10px;
  opacity: 0px;
}

.advertisement-discount {
  background-color: #576f35;
  color: #fbfbfb;
  font-family: "Inter Tight";
  font-size: 76px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: -1.5%;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 16px;
  width: 808px;
  height: 84px;
  top: -4px;
}

.three-second {
  width: 1054px;
  height: 228px;
  left: 16px;
  gap: 0px;
  opacity: 0px;

  font-family: "Inter Tight";
  font-size: 76px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: -0.015em;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.advertisement-description {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.advertisement-discount .discount .three-second-white {
  width: 675px;
  height: 86px;
  border-radius: 12px;
  background-color: #576f35;
  color: #fbfbfb;
}

.advertisement-discount.three-second::before {
  content: "";
  height: var(--pseudo-heigth);
  left: 0px;
  top: 0;
  position: absolute;
  background-color: var(--green);
  border-radius: 25px;
  display: inline-block;
  z-index: -1;
}

@media (min-width: 768px) and (max-width: 1157px) {
  .advertisement-description {
    --pseudo-heigth: calc(1em + 11px * 2);
    width: 768px;
    height: 288px;
    font-size: 64px;
    line-height: 64px;
  }

  .advertisement-discount {
    margin-top: 20px;
    width: 708px;
    height: 256px;
    font-size: 64px;
    line-height: 64px;
  }

  .advertisement-discount.three-second::before {
    top: -20px;
    position: absolute;
  }
  .section-white {
    width: 768px;
    height: 488px;
  }
}

@media (min-width: 320px) {
  .container-advertisement {
    width: 375px;
    height: 472px;
    top: 2048px;
    padding: 80px 20px 80px 20px;
    gap: 10px;
    opacity: 0px; 
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.5%;
  }
 
  .advertisement-description a{
    width: 335px;
    height: 312px;
    gap: 0px;
    opacity: 0px;   
  } 

  .advertisement-discount {
    margin-top: 20px;
    width: 335px;
    height: 102px;
    /* padding-right: 142px; 
    
    mobil kısımda kullanılıyor */
  }

  .advertisement-discount::before {
    top: -20px;
    position: absolute;
  }
}
